In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

https://works.bepress.com/klyoder/49/

In [60]:
# Load the data
heb_df = pd.read_excel('data/torah.xlsb')

In [61]:
heb_df = heb_df[['Ref', 'uLemma']]
heb_df

                     Ref      uLemma
0       01_Gn 01:01.01.4          בּ
1       01_Gn 01:01.01.5    רֵאשִׁית
2       01_Gn 01:01.02.5        בּרא
3       01_Gn 01:01.03.5    אֱלֹהִים
4       01_Gn 01:01.04.5         אֵת
...                  ...         ...
111966  05_Dt 34:12.10.4           ל
111967  05_Dt 34:12.10.5       עַיִן
111968  05_Dt 34:12.11.5        כֹּל
111969  05_Dt 34:12.12.5  יִשְׂרָאֵל
111970            111970         NaN

[111971 rows x 2 columns]

In [62]:
#drop last row
heb_df = heb_df.iloc[:-1]
#remove all rows where ref doesn not start with 01
heb_df = heb_df[heb_df['Ref'].str.startswith('01')]
#create a stopword dataframe with all the rows with the last character of ref is >5
stopwords = heb_df[heb_df['Ref'].str[-1] != '5']
heb_words = heb_df[heb_df['Ref'].str[-1] == '5']
#print the unigue values of uLemma in the stopwords dataframe
print(heb_words['uLemma'].unique().shape)
print(stopwords['uLemma'].unique().shape)

(1744,)
(11,)

In [63]:
#a list of hebrew prepositions
print(stopwords['uLemma'].unique())
#print the top most frquent elements in ulemma from heb_words
print(heb_words['uLemma'].value_counts().head(20))
#remove , ל, אֵת, אֶל, עַל
heb_words = heb_words[~heb_words['uLemma'].isin([',', 'ל', 'אֵת', 'אֶל', 'עַל'])]

['בּ' 'ה' 'ו' 'ל/ה' 'מִן' 'ל' 'בּ/ה' 'ךּ' 'הֲ' 'שֶׁ' 'כּ/ה']
אֵת         1147
אמר          606
אֶל          475
ל            418
אֲשֶׁר       411
בֵּן         365
כֹּל         342
היה          316
אֶרֶץ        311
עַל          306
כִּי         290
אֱלֹהִים     219
בּוא         217
לֹא          212
אָב          208
יַעֲקֹב      180
אָח          178
ילד          170
יהוה         165
שָׁנָה       161
Name: uLemma, dtype: int64

In [64]:
#remove last 5 characters from ref
heb_words['Ref'] = heb_words['Ref'].str[:-5]
#concatenate the uLemma values for each ref
heb_lines = heb_words.groupby('Ref')['uLemma'].apply(' '.join).reset_index()
#replace the first 5 characters of ref with 'Genesis'
heb_lines['Ref'] = heb_lines['Ref'].str.replace('01_Gn', 'Genesis')
heb_lines

                Ref                                             uLemma
0     Genesis 01:01              רֵאשִׁית בּרא אֱלֹהִים שָׁמַיִם אֶרֶץ
1     Genesis 01:02  אֶרֶץ היה תֹּהוּ בֹּהוּ חֹשֶׁךְ פָּנֶה תְּהוֺם...
2     Genesis 01:03                     אמר אֱלֹהִים היה אוֺר היה אוֺר
3     Genesis 01:04  ראה אֱלֹהִים אוֺר כִּי טוֺב בּדל אֱלֹהִים בַּי...
4     Genesis 01:05  קרא אֱלֹהִים אוֺר יוֺם חֹשֶׁךְ קרא לַיְלָה היה...
...             ...                                                ...
1528  Genesis 50:22  ישׁב יוֺסֵף מִצְרַיִם הוּא בַּיִת אָב חיה יוֺס...
1529  Genesis 50:23  ראה יוֺסֵף אֶפְרַיִם בֵּן שִׁלֵּשִׁים גַּם בֵּ...
1530  Genesis 50:24  אמר יוֺסֵף אָח אָנֹכִי מות אֱלֹהִים פּקד פּקד ...
1531  Genesis 50:25  שׁבע יוֺסֵף בֵּן יִשְׂרָאֵל אמר פּקד פּקד אֱלֹ...
1532  Genesis 50:26  מות יוֺסֵף בֵּן מֵאָה עֶשֶׂר שָׁנָה חנט שׂים א...

[1533 rows x 2 columns]

In [66]:
#remove inndex and save to txt file
heb_lines.to_csv('data/genesis_hebrew.txt', sep='\t', index=False, header=False)